.outBox {
    margin: 0.5rem;
    align-self: end;
    background-color: black;
    padding: 0.5rem;
    clip-path: polygon(0 10px,
            10px 10px,
            10px 0,
            calc(100% - 10px) 0,
            calc(100% - 10px) 10px,
            100% 10px, 100% calc(100% - 10px),
            calc(100% - 10px) calc(100% - 10px),
            calc(100% - 10px) 100%,
            10px 100%,
            10px calc(100% - 10px),
            0 calc(100% - 10px));
}

.layout {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 1000px;
    height: 300px;
    background-color: #C6C6C6;
    border: solid 1rem;
    border-color: #FFFFFF #373737 #373737 #FFFFFF;
    padding: 1rem;
    gap: 0.5rem;
    clip-path: polygon(0 10px,
            10px 10px,
            10px 0,
            calc(100% - 10px) 0,
            calc(100% - 10px) 10px,
            100% 10px, 100% calc(100% - 10px),
            calc(100% - 10px) calc(100% - 10px),
            calc(100% - 10px) 100%,
            10px 100%,
            10px calc(100% - 10px),
            0 calc(100% - 10px));
}

.text {
    margin: 0.5rem;
    float: left; 
}

.gui {
    display: flex;
    flex-direction: row;
}

.button {
    margin: 1rem;
    width: 500;
    height: 50px;
    background-color: #FFFFFF;
}