.text {
    color: red;
    font-size: 120px;
    text-decoration: none;
}

.button {
    position: absolute;
    margin: 0;
    left: 48%;
    bottom: 17%;
    background-color: #562411;
    color: white;
}

.rules {
    position: absolute;
    top: 24%;
    max-width: 42vw;
    font-size: 70%;
}

.rules p {
    line-height: 1;
}

.rules h1 {
    padding-bottom: 15px;
}