.text {
    color: red;
    font-size: 120px;
    text-decoration: none;
}

.button {
    position: relative;
    margin: 0;
    /* left: 48%; */
    bottom: 17%;
    background-color: #562411;
    color: white;
}

.rules {
    position: absolute;
    top: 25%;
    max-width: 700px;
    font-size: 65%;
}

.rules p {
    line-height: 1;
}

.rules h1 {
    padding-bottom: 15px;
}